<html>
	<head>
		<title>DawgTrades Profile</title>
	</head>
	<body>
			<p>${username}</p>
		<form action="UpdateProfile" method="post">
			<input type="text" name="password" value=${password}><br>
			<input type="text" name="firstname" value=${firstname}><br>
			<input type="text" name="lastname" value=${lastname}><br>
			<input type="text" name="email" value=${email}><br>
			<input type="text" name="phone" value=${phone}><br>
			<input type="text" name="canText" value=${canText}><br>
			
			<input type=submit value="Update Profile">
		</form>
	<body>
</html>