<html>
	<head>
		<title>DawgTrades Interface</title>
	</head>

	<body>
		<h1>Welcome to <a href="registereduserhome.ftl">DawgTrades</h1>
		
				<p><a href="ViewProfile" data-role="button">View Profile</a></p>
				<p><a href="ResetPassword" data-role="button">Reset Password</a></p>
				<p><a href="TerminateAccount" data-role="button">Terminate Account</a></p>
			
				<p><a href="AuctionItem" data-role="button">Auction Item</a></p>
				<p><a href="BidOnItem" data-role="button">Bid on an Item</a></p>
				<p><a href="ViewMyAuctions" data-role="button">View My Auctions</a></p>
				<p><a href="TrackBids" data-role="button">Track Bids</a></p>
				<p><a href="FindItems" data-role="button">Search Items</a></p>
				<p><a href="BrowseCategory" data-role="button">Browse Category</a></p>
				<p><a href="ReAuctionItem" data-role="button">Reauction Item</a></p>
				<p><a href="Logout" data-role="button">Logout</a></p>
				
				<p><a href="CreateCategory" data-role="button">Create Category</a></p>
				<p><a href="UpdateCategory" data-role="button">Update Category</a></p>
				<p><a href="DeleteCategory" data-role="button">Delete Category</a></p>
				<p><a href="DeleteItem" data-role="button">Delete Item</a></p>
				<p><a href="SetMembership" data-role="button">Set Membership Price</a></p>
				<p><a href="DeleteUser" data-role="button">DeleteUser</a></p>
				
	</body>
</html>